@model ShipIt.ViewModels.BetFormViewModel

@{
    ViewBag.Title = "BetForm";
}

<h2>New Bet</h2>

@using (Html.BeginForm("Save", "Bets"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Bet.EndTime)
        @Html.TextBoxFor(m => m.Bet.EndTime, "{0:d MMM yyyy}", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Bet.BetFee)
        @Html.TextBoxFor(m => m.Bet.BetFee, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Bet.User1)
        @Html.TextBoxFor(m => m.Bet.User1, new { @class = "form-control", @Value = Model.CurrentUserEmail})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Bet.User1Condition)
        @Html.TextBoxFor(m => m.Bet.User1Condition, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Bet.User2)
        @Html.TextBoxFor(m => m.Bet.User2, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Bet.User2Condition)
        @Html.TextBoxFor(m => m.Bet.User2Condition, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}