@model ShipIt.ViewModels.BetFormViewModel

@{
    ViewBag.Title = "BetForm";
}

<h2>New Bet</h2>

@using (Html.BeginForm("Save", "Bets"))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="form-group">
        @Html.LabelFor(m => m.NewBetViewModel.BetPremise)
        @Html.TextBoxFor(m => m.NewBetViewModel.BetPremise, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NewBetViewModel.BetPremise)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewBetViewModel.User1)
        @Html.TextBoxFor(m => m.NewBetViewModel.User1, new { @class = "form-control", @Value = Model.CurrentUserEmail})
        @Html.ValidationMessageFor(m => m.NewBetViewModel.User1)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewBetViewModel.User1Condition)
        @Html.TextBoxFor(m => m.NewBetViewModel.User1Condition, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NewBetViewModel.User1Condition)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewBetViewModel.User2)
        @Html.TextBoxFor(m => m.NewBetViewModel.User2, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NewBetViewModel.User2)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewBetViewModel.User2Condition)
        @Html.TextBoxFor(m => m.NewBetViewModel.User2Condition, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NewBetViewModel.User2Condition)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewBetViewModel.BetFee)
        @Html.TextBoxFor(m => m.NewBetViewModel.BetFee, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NewBetViewModel.BetFee)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewBetViewModel.EndTime)
        @Html.TextBoxFor(m => m.NewBetViewModel.EndTime, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NewBetViewModel.EndTime)
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}