@model ShipIt.ViewModels.MyBetsViewModel
    
@{
    ViewBag.Title = @Model.BetPremise;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.BetPremise</h2>
<ul>
    <li>Status: @Model.BetStatus</li>
    <li>Wager: @Model.BetFee</li>
    @if (Model.EndDate != null)
    {
        <li>End Date: @Model.EndDate</li>
    }
    <li>Bettor 1: @Model.User1</li>
    <li>Bettor 1 Wins If: @Model.User1Condition</li>
    <li>Bettor 2: @Model.User2</li>
    <li>Bettor 2 Wins If: @Model.User2Condition</li>
</ul>